/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require reset
 */
nav h1 {
  float: left;
}

body {
  overflow: hidden;
}

.signuplogin {
  /*margin: .67em;*/
  /*float: right;*/
}

.signuplogin > li {
  float: left;
}

.globe{
	height:60%;
	width: 60%;
	float: right;
}

.title-top{
	padding-left: 5%;
	padding-top: 13%;
	font-size: 90px;
	color: white;
	font-family: 'Galada';
	margin: 0px;
	line-height: 85%;
  text-shadow: 5px 7.5px 15px rgba(0, 0, 0, 0.27);

}
.title-second{
	padding-left: 7%;
	font-size: 90px;
	color: white;
	font-family: 'Galada';
	margin: 0px;
  text-shadow: 5px 7.5px 15px rgba(0, 0, 0, 0.27);
	line-height: 85%;
}
.title-third{
	padding-left: 9%;
	font-size: 90px;
	color: white;
	font-family: 'Galada';
	margin: 0px;
	line-height: 85%;
  text-shadow: 5px 7.5px 10px rgba(0, 0, 0, 0.27);

}
.cover-container{
  position: relative;
  width:100%;
  height:1080px;
  top:0px;
  left:0px;
  z-index: 3;

}
.cover-img{
	position: relative;
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-position: center bottom;
	background-image: url('http://cdn.allwallpaper.in/wallpapers/2560x1600/7451/wakatobi-beaches-islands-ocean-paradise-2560x1600-wallpaper.jpg');
	background-size: cover;
}

.section {
  padding: 30px 0;
  position: relative;
  background-color: #FFFFFF;
}
